@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Manrope:wght@200;300;600;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

nav a,
.navbar-brand {
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #000;
  transition: 0.4s;
}

nav a:hover {
  color: #21b2cc;
}

#about-jpg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 33px;
}

.page-header {
  margin: 70px auto;
}

/* Carousel */

.indicators,
span.carousel-control-next-icon,
span.carousel-control-prev-icon {
  background-color: #21b2cc !important;
}

.carousel-indicators .active {
  opacity: .8;
}

.project-description {
  padding-top: 20px;
  line-height: 1.3;
}